<div class="container  content-part">
  <div class="row">
    <div class="col-sm-8">
      <%= render 'feed'  %>
    </div>
    
    <div class="col-sm-4">
      <div class="row">
        <%= render 'profile' %>
      </div>
        <div class="row">
 
    
        <%= render 'people_suggestion'%>

      </div>
    </div>
  </div>

</div>