/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome";
 a:hover {
    background-color: transparent;
 }
.nav-item {
    margin-right:30px;
    font-size:20px;
}
.content-part {
    margin-top:10vh;
}
.card {

    &-suggestion {
        margin-top:10px;
        width:100%;
    
    }
}
.feed-card {
    margin:0 30px;
}
.small-profile {
    padding:20px;
    display:flex;
    &-info {
        margin-left:20px;
     
        & .username {
            font-size:12px;
            font-weight: 700;


        }
        & .name {
            font-size:12px;
            font-weight: 200;
            color:gray;
        }
    }
    &-image img{
        width: 60px;
        height:60px;
        border-radius: 50%;
    }
    &-suggest-img img{
        width: 40px;
        height:40px;
        border-radius: 50%;
    }
}